body {
	font-family: Signika;
	background-color: #F3F6F6;
}

section {
	height: 640px;
	overflow: hidden;
}

.headbar-border {
	border-bottom: 1px solid;
	border-bottom-color: #E1DED9;
}

.navbar {
	width: 80%;
	min-width: 400px;
	margin: 0px auto 0px auto;
}

.navbar-left {
	display: inline-block;
	font-size: 1.2em;
	color: #2ECC71;
}

.navbar-left p:hover {
	color: #E1DED9;
}

.navbar-right {
	display: inline-block;
	float: right;
}

.navbar-right-text li {
	display: inline;
	font-size: 1.2em;
	margin: 6px;
	color: #666666;
}

.navbar-right-text li:hover {
	color: #E1DED9;
}

.hello-profile-picture {
	height: 100%;
}

.hello-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 140px;
	height: 150px;
	width: auto;
	border-radius: 75px;
}

.hello-info {
	height: 100%;
	width: 100%;
}

.hello-name {
	text-align: center;
	font-size: 2em;
	margin-bottom: 4px;
	margin-top: 12px;
	color: #666666;
}

.hello-description {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 12px;
	margin-top: 4px;
	color: #666666;
}

.about {
	height: 100%;
	width: 100%;
	background-color: #2ECC71; 
}

.about-content {
	width: 70%;
	min-width: 700px;
	color: #F3F6F6;
	margin-left: auto; 
	margin-right: auto;
}

.about-title {
	line-height: 200px;
	text-align: center;
	font-size: 1.8em;
}

.about-cell-left {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	min-width: 200px;
}

.about-cell-middle {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	min-width: 200px;
	margin: 0 4% 0 4%;
}

.about-cell-right {
	display: inline-block;
	vertical-align: top;
	width: 30%;
	min-width: 200px;
}

.about-cell-image {
	display: block;
	height: 100px;
	width: auto;
	margin: -50px auto 30px auto;
}

.about-cell-title {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 10px;
}

.about-cell-description {
	font-size: 1.2em;
}

.skills-content {
	width: 70%;
	min-width: 700px;
	margin-left: auto; 
	margin-right: auto;
	color: #666666;
}

.skills-content-left {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	margin-left: 10%;
}

.skills-title {
	font-size: 2.5em;
	text-align: right;
	margin-top: 120px;
	margin-bottom: 10px;
}

.skills-cell{
}

.skills-cell-title {
	font-size: 1.5em;
	text-align: right;
}

.skills-cell-meter {
}

.skills-content-right {
	display: inline-block;
	margin: 0 0 0 5%;
}

.skills-image {
	margin-top: 100px;
}