body {
	font-family: Oxygen;
}

section {
	height: 100vh;
}

.headbar-border {
	border-bottom: 1px solid;
}

.navbar {
	width: 80%;
	min-width: 400px;
	margin: 0px auto 0px auto;
}

.navbar-left {
	display: inline-block;
	font-size: 1.1em;
}

.navbar-right {
	display: inline-block;
	font-size: 1.1em;
	float: right;
}

.navbar-right-text li {
	display: inline;
	margin: 8px;
}

.navbar-right-text li:hover {
	color: #AAAAAA;
}

.hello {
	width: 50%;
	min-width: 250px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -25%;
}

.hello-profile-picture {
	height: 100%;
}

.hello-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 150px;
	width: auto;
	border-radius: 75px;
	margin-bottom: 12px;
	margin-top: 12px;
}

.hello-info {
	height: 100%;
	width: 100%;
}

.hello-name {
	text-align: center;
	font-size: 2em;
	margin-bottom: 12px;
	margin-top: 12px;
}

.hello-description {
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 12px;
	margin-top: 12px;
}